config/BiomeTweaker/output/
config/fantasticlib/

config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/CustomRecipes.cfg

config/codechicken/supporters.json
config/splash.properties

config/waila/waila.cfg
config/fantasticlib.cfg
config/lightningtweaks.cfg