
# Pakku
build/
pakku.jar

# GroovyScript
cache/
groovy/postInit/zsToGroovy/*
!groovy/postInit/zsToGroovy/zsToGroovy.groovy

# Configs
config/BiomeTweaker/output/*
config/fantasticlib/*
config/cavegenerator/generated/*
config/codechicken/supporters.json
config/splash.properties
config/waila/waila.cfg
config/fantasticlib.cfg
config/InvTweaks.cfg
config/Weather2/EZGUIConfigClientData.dat
config/cherishedworlds/favorites.dat
config/activity.json
config/AppliedEnergistics2/items.csv
config/customloadingscreen_timings.nbt
config/cherishedworlds/favorites.dat
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/moresoundconfig.cfg
config/voicechat/username-cache.json

# .minecraft
assetmover/assets/*
mods/*
resourcepacks/*
saves/*
screenshots/*
server-resource-packs/*
texturepacks/*
pack/*
nuclearcraft/*
mineraltracker/*
logs/*
journeymap/*
encyclopedia-servers/*
fancymenu_data/*
crash-reports/*
dumps/*
coremods/*
.mixin.out/*
downloads/*
craftpresence/*
TombManyGraves/*
impossible_data/*
vintagefix/*
icon.png
MODPACK_INFO.md
**.zip
**.mrpack

# Extensions
**/*.log
**/*.gz
**/*.DS_Store

# Client data
.ReAuth.cfg
local/client/rtdata.json
hei_bookmarks.ini
usernamecache.json
usercache.json
servers.dat
patchouli_data.json
seen_buildersbag_addons.txt
pack.zip
knownkeys.txt
optionsof.txt
options.txt
optionsshaders.txt
mountains.txt

# Pax
pax/.out/*
pax/logs/*
pax/cacert.pem
pax/libcrypto-1_1-x64.dll
pax/libcrypto-1_1.dll
pax/libssl-1_1-x64.dll
pax/libssl-1_1.dll
pax/jd
pax/pax
pax/pax.exe
pax/pax-macos
pax/modpack/overrides/config/*
pax/modpack/overrides/local/*
pax/modpack/overrides/oresources/*
pax/modpack/overrides/patchouli_books/*
pax/modpack/overrides/resources/*
pax/modpack/overrides/scripts/*
pax/modpack/overrides/structures/*
pax/downloader/*
pax/ModpackDownloader-*.jar

# Server Pack
pax/serverpack/work/*
pax/serverpack/server-packs/*
pax/serverpack/logs/*
pax/serverpack/ServerPackCreator-*.jar
classOut/net/minecraft/entity/item/EntityXPOrb.class
