# Configuration file

01_dirts {
    # The strength of the block[s] as a beam supporting blocks above.
    D:BeamStrength=0.35

    # A list of block IDs to be affected by this definition.
    S:Blocks <
        biomesoplenty:dirt
        biomesoplenty:grass
        minecraft:clay
        minecraft:dirt
        minecraft:grass
        minecraft:grass_path
        minecraft:farmland
        minecraft:mycelium
        osv:_clay_biomesoplenty_dirt_1
        osv:_clay_biomesoplenty_dirt_2
        osv:_clay_biomesoplenty_dirt
        osv:_clay_dirt
        minecraft:grass
     >

    # The chance of the block[s] breaking after falling and landing.
    D:BreakChanceOnLanded=0.2

    # Whether the block[s] should break instead of falling.
    B:BreakOnFalling=false

    # The minimum velocity, in meters per tick, the block[s] must land at before they have a chance of breaking.
    D:BreakVelocityMinOnLanded=0.5

    # The damage the block[s] will cause to entities after falling and landing on them.
    D:EntityDamage=2.0

    # Whether the block[s] should have a fake full-block collision box.
    B:FakeFullBlock=false

    # Whether the block[s] should be allowed to float on water.
    B:FloatsOnWater=false

    # Whether the block[s] should be allowed to attach to the side of other blocks.
    B:IsAttachable=true

    # Whether the block[s] should be allowed to attach to the bottom of other blocks.
    B:IsHangable=true

    # The mass of the block[s], in kilograms.
    I:Mass=1000

    # Whether the block[s] will receive chunk updates.
    B:ReceivesChunkUpdates=false

    # Whether the block[s] will receive neighbouring block updates.
    B:ReceivesNeighbourUpdates=true

    # The chance of the block[s] sliding after falling and landing.
    D:SlideChanceOnLanded=0.2

    # The chance of the block[s] sliding after being placed.
    D:SlideChanceOnPlaced=0.95

    # The maximum mass the block[s] can support horizontally and vertically.
    I:SupportMass=2500
}


