# Configuration file

~CONFIG_VERSION: 0.1.0

world-1431591077 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=block

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-966265605 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=torch
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world785103634 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=cog
    B:overlayEnabled=true
}


world856609915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=rock
    B:overlayEnabled=true
}


