# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:appeng.block.misc.BlockQuartzFixture=true
    B:appeng.block.misc.BlockTinyTNT=true
    B:appeng.decorative.solid.BlockChargedQuartzOre=true
    B:appeng.decorative.solid.BlockChiseledQuartz=true
    B:appeng.decorative.solid.BlockFluix=true
    B:appeng.decorative.solid.BlockQuartz=true
    B:appeng.decorative.solid.BlockQuartzGlass=true
    B:appeng.decorative.solid.BlockQuartzLamp=true
    B:appeng.decorative.solid.BlockQuartzOre=true
    B:appeng.decorative.solid.BlockQuartzPillar=true
    B:appeng.decorative.solid.BlockSkyStone=true
    B:azmalent.backportedflora.common.block.BlockDriedKelp=true
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:charcoalPit.blocks.BlockBronzeReinforcedBrick=true
    B:charcoalPit.blocks.BlockCoke=true
    B:charcoalPit.blocks.BlockLogPile=true
    B:charcoalPit.blocks.BlockThatch=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:cofh.thermalfoundation.block.BlockStorageResource=true
    B:com.animania.addons.farm.common.block.BlockAnimaniaWool=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockCharcoalBlock=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockCoalCokeBlock=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockCobblestone=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockLimestone=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockLivingTar=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockLogPile=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockOreDenseCoal=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockOreDenseNetherCoal=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockOreFossil=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockPlanksTarred=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockRefractoryBrick=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockStoneBricks=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockThatch=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockWoodTarBlock=true
    B:com.codetaylor.mc.pyrotech.modules.core.block.BlockWoolTarred=true
    B:com.creativemd.littletiles.common.block.BlockLittleDyeable=true
    B:com.creativemd.littletiles.common.block.BlockLittleDyeable2=true
    B:com.creativemd.littletiles.common.block.BlockStorageTile=true
    B:com.direwolf20.buildinggadgets.common.blocks.ConstructionBlockDense=true
    B:com.flanks255.simplylight.blocks.LampBlock=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.lothrazar.cyclicmagic.block.BlockSoundSuppress=true
    B:com.oitsjustjose.geolosys.common.blocks.BlockOre=true
    B:com.oitsjustjose.geolosys.common.blocks.BlockOreVanilla=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.personthecat.orestonevariants.blocks.BaseOreVariant=true
    B:com.raoulvdberge.refinedstorage.block.BlockMachineCasing=true
    B:com.raoulvdberge.refinedstorage.block.BlockQuartzEnrichedIron=true
    B:com.raptor.sdu.block.BlockUnlimitedTrim=true
    B:com.teamacronymcoders.contenttweaker.modules.vanilla.blocks.BlockContent=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:"forestry.apiculture.blocks.BlockHoneyComb$1"=true
    B:"forestry.arboriculture.blocks.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.BlockArbPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockAshBrick=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:io.moonman.emergingtechnology.block.blocks.AquaponicBase=true
    B:io.moonman.emergingtechnology.block.blocks.AquaponicBlock=true
    B:io.moonman.emergingtechnology.block.blocks.BiocharBlock=true
    B:io.moonman.emergingtechnology.block.blocks.PlasticBlock=true
    B:io.moonman.emergingtechnology.block.blocks.PollutedDirt=true
    B:io.moonman.emergingtechnology.block.blocks.PollutedGravel=true
    B:io.moonman.emergingtechnology.block.blocks.PollutedSand=true
    B:io.moonman.emergingtechnology.block.blocks.ShreddedPlantBlock=true
    B:io.moonman.emergingtechnology.block.blocks.ShreddedPlasticBlock=true
    B:io.moonman.emergingtechnology.block.blocks.ShreddedStarchBlock=true
    B:ivorius.reccomplex.block.BlockGenericSolid=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:knightminer.tcomplement.steelworks.blocks.BlockStorage=true
    B:landmaster.plustic.block.MetalBlock=true
    B:logisticspipes.blocks.LogisticsSolidBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyUBlock=true
    B:mctmods.immersivetechnology.common.blocks.stone.BlockStoneDecoration=true
    B:"mekanism.common.block.BlockBasic$1"=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:"nc.block.BlockMeta$BlockFertileIsotope"=true
    B:"nc.block.BlockMeta$BlockFissionReflector"=true
    B:"nc.block.BlockMeta$BlockIngot"=true
    B:"nc.block.BlockMeta$BlockOre"=true
    B:nc.block.NCBlock=true
    B:nc.block.plant.BlockHugeGlowingMushroom=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.darkhax.darkutils.features.material.BlockWitherDust=true
    B:net.darkhax.darkutils.features.shulkerpearl.BlockShulkerPearl=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:net.tropicraft.core.common.block.BlockBundle=true
    B:net.tropicraft.core.common.block.BlockChunkOHead=true
    B:net.tropicraft.core.common.block.BlockPackedPurifiedSand=true
    B:net.tropicraft.core.common.block.BlockTropicraftOre=true
    B:net.tropicraft.core.common.block.BlockTropicraftOreBlock=true
    B:net.tropicraft.core.common.block.BlockTropicraftPlank=true
    B:net.tropicraft.core.common.block.BlockTropicraftSands=true
    B:openblocks.common.block.BlockElevator=true
    B:openblocks.common.block.BlockSponge=true
    B:org.dawnoftimebuilder.blocks.general.DoTBBlock=true
    B:org.dawnoftimebuilder.blocks.general.DoTBBlockPath=true
    B:org.dawnoftimebuilder.blocks.general.DoTBBlockRotatedPillar=true
    B:org.dawnoftimebuilder.blocks.mayan.BlockChiseledPlasteredStone=true
    B:org.dawnoftimebuilder.blocks.mayan.BlockPlasteredStone=true
    B:panda.divergentunderground.common.blocks.BlockBoulder=true
    B:panda.divergentunderground.common.blocks.BlockFossil=true
    B:panda.divergentunderground.common.blocks.BlockHardStone=true
    B:pl.asie.ucw.BlockUCWProxy=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.plugin.quark.block.BlockSlimeQuark=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:snownee.cuisine.blocks.BlockModLog=true
    B:snownee.cuisine.blocks.BlockShearedLeaves=true
    B:snownee.cuisine.blocks.BlockTofu=true
    B:snownee.kiwi.block.BlockMod=true
    B:sonar.core.common.block.BlockBase=true
    B:sonar.core.common.block.StableStone=true
    B:sonar.logistics.core.blocks.BlockSapphireOre=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:thedarkcolour.core.block.FBlock=true
    B:thedarkcolour.futuremc.block.BlockStrippedLog=true
    B:thedarkcolour.futuremc.block.BlockWood=true
    B:thedarkcolour.futuremc.block.BlueIceBlock=true
    B:thedarkcolour.futuremc.block.villagepillage.VillageStationBlock=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockSturdyStone=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockTurf=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStoneCarved=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockJasper=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:vazkii.quark.world.block.BlockSlate=true
    B:wile.engineersdecor.blocks.BlockDecor=true
    B:wile.engineersdecor.blocks.BlockDecorFull=true
    B:zmaster587.advancedRocketry.block.BlockCharcoalLog=true
    B:zmaster587.advancedRocketry.block.BlockIntake=true
    B:zmaster587.advancedRocketry.block.BlockLinkedHorizontalTexture=true
    B:zmaster587.advancedRocketry.block.BlockMiningDrill=true
    B:zmaster587.advancedRocketry.block.BlockNuclearCore=true
    B:zmaster587.advancedRocketry.block.BlockRegolith=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodPlanks=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodWood=true
    B:zmaster587.libVulpes.block.BlockFullyRotatable=true
    B:zmaster587.libVulpes.block.BlockOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


"revertible states" {
    B:"minecraft%3Asnow?"=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


