# Configuration file

"gravity blocks" {
    # List of blocks that are affected by and can cause cave ins (blockname,chanceForCaveIn) [default: [minecraft:stone,0.1], [minecraft:stone:1,0.1], [minecraft:stone:3,0.1], [minecraft:stone:5,0.1], [minecraft:netherrack,0.2]]
    S:caveInBlocks <
        minecraft:grass,0.5
        minecraft:dirt,0.6
        minecraft:dirt:1,0.6
        minecraft:dirt:2,0.6
        biomesoplenty:grass:2,0.5
        biomesoplenty:grass:3,0.5
        biomesoplenty:grass:4,0.5
        biomesoplenty:dirt,0.6
        biomesoplenty:dirt:8,0.6
        biomesoplenty:dirt:1,0.6
        biomesoplenty:dirt:9,0.6
        biomesoplenty:dirt:2,0.6
        biomesoplenty:dirt:10,0.6
        minecraft:stone,0.1
        minecraft:stone:1,0.1
        minecraft:stone:3,0.1
        minecraft:stone:5,0.1
        divergentunderground:hard_stone,0.2
        divergentunderground:hard_stone:1,0.2
        divergentunderground:hard_stone:2,0.1
        divergentunderground:hard_stone:3,0.1
        divergentunderground:hard_granite,0.2
        divergentunderground:hard_granite:1,0.2
        divergentunderground:hard_granite:2,0.1
        divergentunderground:hard_granite:3,0.1
        divergentunderground:hard_andesite,0.2
        divergentunderground:hard_andesite:1,0.2
        divergentunderground:hard_andesite:2,0.1
        divergentunderground:hard_andesite:3,0.1
        divergentunderground:hard_diorite,0.2
        divergentunderground:hard_diorite:1,0.2
        divergentunderground:hard_diorite:2,0.1
        divergentunderground:hard_diorite:3,0.1
     >

    # If cave-ins should happen or not [default: true]
    B:enableCaveIns=true

    # Cave-in blocks can be silk-touch harvested by exposing every 6 side of it [default: true]
    B:enableStoneGathering=true

    # Falling blocks hurt players [default: true]
    B:gravityBlocksHurt=true

    # How many blocks can fall at once [range: 0 ~ 128, default: 16]
    I:maxBlocksPerCollapse=20

    # List of what blocks fractured blocks turn into [default: [minecraft:stone,minecraft:cobblestone], [minecraft:grass,minecraft:dirt], [minecraft:dirt:2,minecraft:dirt]]
    S:replacementBlocks <
        minecraft:grass,minecraft:dirt:1
        minecraft:dirt:2,minecraft:dirt
        minecraft:dirt:1,minecraft:dirt
        biomesoplenty:grass:2,biomesoplenty:dirt:8
        biomesoplenty:dirt:8,biomesoplenty:dirt
        biomesoplenty:grass:3,biomesoplenty:dirt:9
        biomesoplenty:dirt:9,biomesoplenty:dirt:1
        biomesoplenty:grass:4,biomesoplenty:dirt:10
        biomesoplenty:dirt:10,biomesoplenty:dirt:2
        minecraft:stone,minecraft:cobblestone
        divergentunderground:hard_stone,minecraft:cobblestone
        divergentunderground:hard_stone:1,minecraft:cobblestone
        divergentunderground:hard_stone:2,minecraft:cobblestone
     >

    # List of blocks that can't be stacked, like dirt or sand (blockname) [default: [minecraft:sand], [minecraft:dirt], [minecraft:dirt:1], [minecraft:dirt:2], [minecraft:grass], [minecraft:gravel], [minecraft:soul_sand], [minecraft:cobblestone]]
    S:softBlocks <
     >

    # Effective Range of Support Beams [range: 1 ~ 16, default: 4]
    I:supportBeamRange=4

    # List of blocks that prevent cave ins within cave-in protection range (usage: blockid,maxSupportHeight [default: [minecraft:fence,3], [minecraft:spruce_fence,3], [minecraft:birch_fence,3], [minecraft:acacia_fence,3], [minecraft:dark_oak_fence,3], [minecraft:jungle_fence,3], [minecraft:nether_brick_fence,3]]
    S:supportBeams <
        minecraft:fence,3
        minecraft:spruce_fence,3
        minecraft:birch_fence,3
        minecraft:acacia_fence,3
        minecraft:dark_oak_fence,3
        minecraft:jungle_fence,3
        minecraft:nether_brick_fence,3
     >
}


