# Configuration file

general {

    common {
        # Placed locks will try to orient themselves smartly to doors and chests regardless of how they were placed
        B:"Automatically Orient Placed Locks"=false

        # Always generate locks if the chests contain these items. Metadata can be specified (ex. minecraft:bed:0)
        S:"Chest Item List Always Generate" <
            minecraft:nether_star
         >

        # Worldgen assumes chests with only these items are empty. Metadata can be specified (ex. minecraft:bed:0)
        S:"Chest Item List Skip Generating" <
            minecraft:beetroot_seeds
            minecraft:bone
            minecraft:book
            minecraft:bowl
            minecraft:bread
            minecraft:brown_mushroom
            minecraft:clay_ball
            minecraft:cobblestone
            minecraft:dirt
            minecraft:dye
            minecraft:egg
            minecraft:gravel
            minecraft:hay_block
            minecraft:melon_seeds
            minecraft:painting
            minecraft:paper
            minecraft:pumpkin_seeds
            minecraft:red_mushroom
            minecraft:rotten_flesh
            minecraft:sapling
            minecraft:sign
            minecraft:spider_eye
            minecraft:stick
            minecraft:stone
            minecraft:stone_button
            minecraft:string
            minecraft:vine
            minecraft:waterlily
            minecraft:web
            minecraft:wheat
            minecraft:wheat_seeds
            minecraft:wooden_button
         >

        # WARNING: THE AMOUNT OF NUMBERS SHOULD BE EQUAL TO THE AMOUNT OF GENERATED LOCK ITEMS!!! The relative probability that the corresponding lock item will be generated on a chest. Higher number = higher chance to generate
        I:"Generated Lock Chances" <
            3
            3
            2
            2
            1
         >

        # WARNING: THE AMOUNT OF NUMBERS SHOULD BE EQUAL TO THE AMOUNT OF GENERATED LOCK ITEMS!!! The number of pins on the lock item. Overrides the defaults if not zero
        I:"Generated Lock Pins" <
            0
            0
            0
            0
            0
         >

        # Items that can be generated as locks (must be instance of LockItem in code!)
        S:"Generated Locks" <
            locks:wood_lock
            locks:iron_lock
            locks:steel_lock
            locks:gold_lock
            locks:diamond_lock
         >

        # Chance to generate a random lock on every new chest during world generation. Set to 0 to disable
        # Min: 0.0
        # Max: 1.0
        D:"Generation Chance"=0.0

        # Chance to randomly enchant a generated lock during world generation. Set to 0 to disable
        # Min: 0.0
        # Max: 1.0
        D:"Generation Enchant Chance"=0.4
        I:"Max Generated Lock Length"=9
        I:"Min Generated Lock Length"=5

        # Skip generating locks on empty chests
        B:"Skip Generation Empty Chests"=true
    }

    server {
        # Open locks can be removed with an empty hand while sneaking
        B:"Allow Removing Locks"=true
        I:"Default Lock Length"=7
        D:"Default Lock Pick Strength"=0.6412213444709778

        # Lock blocks with just one click! It's magic! (Will probably fail spectacularly with custom doors, custom double chests, etc)
        B:"Easy Lock"=true

        # Blocks that can be locked. Each entry is the mod domain followed by the block's registry name. Can include regular expressions
        S:"Lockable Blocks" <
            minecraft:.*chest
            minecraft:dispenser
            minecraft:dropper
            minecraft:hopper
            minecraft:.*door
            minecraft:.*trapdoor
            minecraft:.*fence_gate
            minecraft:.*shulker_box
            advancedrocketry:smallairlockdoor
            biomesoplenty:sacred_oak_door
            biomesoplenty:cherry_door
            biomesoplenty:umbran_door
            biomesoplenty:fir_door
            biomesoplenty:ethereal_door
            biomesoplenty:magic_door
            biomesoplenty:mangrove_door
            biomesoplenty:palm_door
            biomesoplenty:redwood_door
            biomesoplenty:willow_door
            biomesoplenty:pine_door
            biomesoplenty:hellbark_door
            biomesoplenty:jacaranda_door
            biomesoplenty:mahogany_door
            biomesoplenty:ebony_door
            biomesoplenty:eucalyptus_door
            cuisine:door
            dawnoftimebuilder:paper_door
            engineersdoors:door_concrete
            engineersdoors:door_concrete_ornate
            engineersdoors:door_concrete_reinforced
            engineersdoors:door_steel
            engineersdoors:door_steel_ornate
            engineersdoors:door_steel_reinforced
            engineersdoors:door_treated
            engineersdoors:door_treated_ornate
            engineersdoors:door_treated_reinforced
            forestry:doors.larch
            forestry:doors.teak
            forestry:doors.acacia
            forestry:doors.lime
            forestry:doors.chestnut
            forestry:doors.wenge
            forestry:doors.baobab
            forestry:doors.sequoia
            forestry:doors.kapok
            forestry:doors.ebony
            forestry:doors.mahogany
            forestry:doors.balsa
            forestry:doors.willow
            forestry:doors.walnut
            forestry:doors.greenheart
            forestry:doors.cherry
            forestry:doors.mahoe
            forestry:doors.poplar
            forestry:doors.palm
            forestry:doors.papaya
            forestry:doors.pine
            forestry:doors.plum
            forestry:doors.maple
            forestry:doors.citrus
            forestry:doors.giganteum
            forestry:doors.ipe
            forestry:doors.padauk
            forestry:doors.cocobolo
            forestry:doors.zebrawood
            rustic:olive_door
            rustic:ironwood_door
            tropicraft:bamboo_door
            cuisine:trapdoor
            engineersdoors:trapdoor_concrete
            engineersdoors:trapdoor_steel
            engineersdoors:trapdoor_treated
            quark:spruce_trapdoor
            quark:birch_trapdoor
            quark:jungle_trapdoor
            quark:acacia_trapdoor
            quark:dark_oak_trapdoor
            bibliocraft:.*chest
            forestry:.*chest
            tconstruct:tooltables:4
            tconstruct:tooltables:5
         >

        # Maximum amount of blocks that can be locked at once
        I:"Max Lockable Volume"=6

        # Locked blocks cannot be destroyed in survival mode
        B:"Protect Lockables"=true
    }

    client {
        # Display visual feedback when trying to use a locked block for certain hearing impaired individuals
        B:"Deaf Mode"=false
    }

}


