# Configuration file

balance {
    # The modifier for how fuel efficient the brick forge is, relative to a furnace. Higher values = fuel lasts longer
    # Min: 0.1
    # Max: 10.0
    D:"Brick Forge Fuel Multiplier"=1.0

    # The modifier for how effective the brick forge is at heating up items. Higher values = faster heating
    # Min: 0.0
    # Max: 10.0
    D:"Brick Forge Temperature Modifier"=9.4

    # How long a single piece of charcoal lasts in the charcoal forge, relative to in a furnace. Higher values = fuel lasts longer
    # Min: 0.1
    # Max: 10.0
    D:"Charcoal Forge Fuel Modifier"=1.0

    # The modifier for how effective the charcoal forge is at heating up items. Higher values = faster heating
    # Min: 0.0
    # Max: 10.0
    D:"Charcoal Forge Temperature Modifier"=9.0

    # If this is true, you will be able to see the exact temperature (in Â°C) of any items - including their exact workable and melting temperatures
    B:"Enable Advanced Temperature Tooltips"=false

    # The range that the work pointer needs to be in range of the target pointer for a forging to complete.
    # Min: 0
    # Max: 10
    I:"Forge Target Range"=2

    # Does the tier of the metal affect the target range? Lower tier metals have a larger range by this value.
    # Full calculation is [total range] = [target range] + (5 - [tier]) * [range tier modifier]
    # Min: 0
    # Max: 10
    I:"Forge Target Range Tier Modifier"=0

    # Modifier for experience given by forging items on the Tinker's Anvil. Note higher tier items give more experience.
    # Min: 0.0
    # Max: 100.0
    D:"Forging Experience Modifier"=3.0

    # Should forging items on the Tinker's Anvil grant experience?
    B:"Forging Gives Experience"=true

    # A modifier for how fast items heat up and cool down. Higher values = faster heat transfer.
    # Min: 0.0
    # Max: 10.0
    D:"General Temperature Modifier"=0.1

    # Should Casting items in a Tinker's Construct casting table bring them to max temperature?
    B:"Tinker's Construct Casting Heats Items"=true
}


general {
    # Should this mod add recipes for Construct's Armory's armor parts, if it is enabled?
    B:"Construct's Armory Compat"=true

    # This is a way to force Tinker's Forging to recognize other materials from other mods if they don't automatically get found.
    # WARNING: This can cause broken recipes / items if you use it incorrectly. Only use it if you know what you are doing.
    S:"Force-Enabled Materials" <
     >

    # Should this mod add tool parts and recipes for No Tree Punching's tools, if it is enabled?
    B:"No Tree Punching Compat"=true

    # If this is true, any recipes that are added to the anvil that have a crafting equivalent (i.e. a shovel) will have their normal crafting recipes removed
    B:"Remove Crafting Recipes"=true

    # If this is true, you will not be able to use a lower tier anvil to make a higher tier item. Tiers of different anvils types are configurable.
    B:"Respect Tiers"=true

    # Should this mod default to using Tinker's Construct tool parts, if it is enabled?
    # If true and Tinker's Construct is found, no new tool parts will be registered, and all tool part recipes will use Tinker's parts
    # If false, or if Tinker's Construct is not found, Tinker's Forging will use its own tool parts for recipes.
    B:"Tinker's Construct Compat"=true
}


