# Configuration file

enabled {
    B:"advancedrocketry:planks"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"darkutils:pearl_block"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"immersiveengineering:treated_wood"=true
    B:"quark:stained_planks"=true
    B:"quark:world_stone_bricks"=true
    B:"rustic:painted_wood_black"=true
    B:"rustic:painted_wood_blue"=true
    B:"rustic:painted_wood_brown"=true
    B:"rustic:painted_wood_cyan"=true
    B:"rustic:painted_wood_gray"=true
    B:"rustic:painted_wood_green"=true
    B:"rustic:painted_wood_light_blue"=true
    B:"rustic:painted_wood_lime"=true
    B:"rustic:painted_wood_magenta"=true
    B:"rustic:painted_wood_orange"=true
    B:"rustic:painted_wood_pink"=true
    B:"rustic:painted_wood_purple"=true
    B:"rustic:painted_wood_red"=true
    B:"rustic:painted_wood_silver"=true
    B:"rustic:painted_wood_white"=true
    B:"rustic:painted_wood_yellow"=true
    B:"rustic:planks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


